﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="Ticket-Purchase.aspx.cs" Inherits="UH_Ticket.Ticket_Purchase" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    This is the Ticket Purchase page.
</asp:Content>
